* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #CBD5E1;
  color: #333;
}

/* ========== HEADER ========== */
header {
  background-color: #38BDF8;
  height: 120px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.header-left img {
  height: 50px;
}

.header-right {
  align-items: center;
}

/* ========== BACKGROUND HEAD ========== */
.head {
  background-color: #38BDF8;
  height: 100px;
  position: relative;
  z-index: 0;
}

/* ========== CARD / BOX ========== */
section {
  position: relative;
  z-index: 1;
  top: -140px;
}

.card,
.boks1 {
  display: flex;
  max-width: 900px;
  height: 400px;
  margin: 40px auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ========== FOTO & TEKS ========== */
.foto {
  height: 100%;
  display: flex;
}

.kanan {
  margin: 15px 0 0 15px;
  display: block;
}

h2 {
  color: #38BDF8;
  font-size: 50px;
}

.inf {
  margin-bottom: 15px;
  font-size: 20px;
}

/* ========== INFO GRID ========== */
.info {
  flex: 1;
  padding: 10px 0 0 0;
  font-size: 16px;
}

.info div {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 10px;
}

/* ========== MEDIA QUERIES ========== */
@media (max-width: 900px) {
  .card,
  .boks1 {
    max-width: 450px;
    height: 200px;
  }

  h2 {
    font-size: 25px;
  }

  .info {
    font-size: 10px;
    padding-top: 10px;
  }

  .info div {
    grid-template-columns: 75px 1fr;
    margin-bottom: 0;
  }

  .inf {
    margin-bottom: 0;
    font-size: 10px;
  }

  header {
    padding: 10px 20px;
  }

  .header-left {
    margin-left: 15px;
    gap: 10px;
  }

  .header-left img {
    height: 35px;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  header {
    height: 70px;
  }

  .card,
  .boks1 {
    max-width: 360px;
    height: 160px;
  }

  h2 {
    font-size: 15px;
  }

  .info {
    font-size: 9px;
  }

  .info div {
    grid-template-columns: 50px 1fr;
    margin-bottom: 0;
    padding: 0;
    flex: 0;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  h1 {
    font-size: 20px;
  }
}
