body {
    margin: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease, background-color 0.5s ease;
    background-color: black;
}

body.fade-in {
    opacity: 1;
    background-color: #161616;
}

body.fade-out {
    background-color: black;
    opacity: 0;
}

section {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    top: 0px;
    z-index: 0
}

#utama {
    background-color: rgb(0, 0, 0);
    display: flex;
    position: sticky;
}

#fotoku {
    width: 100vw;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: -1;
}

#break  {
    height: 2vw;
    background: linear-gradient(to bottom, black, #161616);
}

#personal {
    display: flex;
    gap: 10px;
    width: 90%;
    overflow: hidden;
}

.personal {
    min-width: 200px;
    height: 120px;
    background: lightblue;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes move {
    from { top: 0px; }
    to { top: 10vh; }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}